/*
EmojiSymbols Font (c)blockworks - Kenichi Kaneko
http://emojisymbols.com/
*/
@font-face {
	font-family: "EmojiSymbols";
	src: url('/fonts/EmojiSymbols-Regular.woff') format('woff');
	text-decoration: none;
	font-style: normal;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(/fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(/fonts/MaterialIcons-Regular.woff) format('woff'),
       url(/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html, body {
  font-family: 'Open Sans', sans-serif;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

.emoji {
  font-family: "EmojiSymbols";
}

div#render-target {
  width: 100%;
  height: 100%;
}

div.root {
  width: 100%;
  height: 100%;
	background-color: lightgrey;
}

div.root.failing {
	/*border: 1px solid #FFEBEE;*/
  /*background-color: #FFEBEE;*/
}

div.root.ok {
  background-color: #E8F5E9;
}

div.serviceTotals {
  font-weight: 300;
  text-align: center;
  font-size: 30px;
  border-bottom: 2px solid black;
}
div.serviceTotals .count {
  font-size: 50px;
  font-weight: 400;
}
div.allServices {
  color: #03B8F7;
  border-color: #03B8F7;
}
div.failingServices {
  color: #D40000;
  border-color: #D40000;
}
div.okServices {
  color: #59DB8F;
  border-color: #59DB8F;
}

div.widget {
  z-index: 1;
  background-color: white;
  border-radius: 2px;
  box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.15);
  overflow: hidden;
}
div.widget .inner {
  padding: 5px;
  height: 100%;
  position: relative;
}

div.widget.failing {
	border-left: 2px solid #D40000;
}

div.widget  h3 {
  margin: 5px 5px;
  font-size: 18px;
}
div.widget a {
  font-size: 14px;
}
div.widget .lastChecked {
  font-size: 14px;
  position: absolute;
  bottom: 12px;
}
div.widget .externalLink {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 20px;
  color: #03B8F7;
	background-color: white;
}

div.okPlaceholder {
  position: absolute;
  z-index: 0;
  top: 35%;
  left: 0;
  right: 0;
  font-size: 250px;
  color: #59DB8F;
  text-align: center;
}

div.failPlaceholder {
  position: absolute;
  z-index: 0;
  top: 35%;
  left: 0;
  right: 0;
  font-size: 250px;
  color: #D40000;
  text-align: center;
}
